[Unit]
Description=Diskhound Daemon

[Service]
Type=Simple
ExecStart=/usr/bin/diskhoundd -c /etc/diskhoundd/diskhoundd.cfg /
Restart=always
User=root
Group=root
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus

[Install]
WantedBy=multi-user.target
